# Ignore git directory.
/.git/
.gitignore

# Ignore bundler config.
/.bundle

# Ignore all environment files (except templates).
/.env*
!/.env*.erb

# Ignore all default key files.
/config/master.key
/config/credentials/*.key

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

# Ignore sockets, but keep the directory to create socket file for Puma.
/tmp/sockets/*
!/tmp/sockets/.keep

# Ignore assets.
/node_modules/
/public/packs
/public/locales

Dockerfile
.dockerignore
compose.yml

.github
.husky
.vscode
.ruby-lsp
.ruby-version
.node-version
.tool-versions

tsconfig.eslint.json
eslint.config.mjs
prettier.config.mjs
stylelint.config.mjs
.rubocop.yml
.erb-lint.yml

.rspec
spec/*
!spec/fixtures

Procfile.dev
.DS_Store
lib/development
